* {
    margin: 0;
    padding: 0;
}

body {
    width: 1320px;
    margin: 0px auto;
}

/* header style */

.header-content {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(images/Banner\ Image.png);
    height: 600px;
}

.happy-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
    padding-bottom: 20px;
}

.happy-celebration {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
    padding: 0px 144px;
}